.header {
    background-color: var(--CorPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 0 40px;
    margin-bottom: 80px;
}

.avatar {
    width: 170px;
    height: 170;
    border-radius: 50%;
    border: 3px solid white;
}

.name {
    font-size: 20px;
    color: var(--corSecundaria);
}